<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ar_camera" params="
        tf_prefix
        parent
    ">

    <joint name="camera_joint_ar4" type="fixed">
        <parent link="${parent}"/>
        <child link="ar4_camera_fixation"/>
        <origin xyz="0.0 -0.00 0.0" rpy="3.14 3.14 0"/>
    </joint>

    <link name="ar4_camera_fixation">
        <inertial>
            <origin xyz="-2.25905522780595E-05 0.0537995083436942 -0.00156455304641786" rpy="0 0 0" />
            <mass value="0.0401247162922868" />
            <inertia
                ixx="5.49212101113179E-05"
                ixy="2.90558363997002E-10"
                ixz="-3.68770799633043E-11"
                iyy="9.32817358647367E-06"
                iyz="5.59880994216139E-06"
                izz="6.12576456021184E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_camera/Camera_fixator_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_camera/Camera_fixator_Link.STL" />
            </geometry>
        </collision>
    </link>

    <link name="ar4_camera_link">
        <inertial>
            <origin xyz="-0.000221896790492657 -0.00868273060634515 -0.0127107454549502" rpy="0 0 0" />
            <mass value="0.00526823017535" />
            <inertia
                ixx="3.61325460574137E-07"
                ixy="-8.42039670403475E-10"
                ixz="-1.32258782226786E-10"
                iyy="1.72552909734487E-07"
                iyz="2.49313101275225E-10"
                izz="5.16628342180616E-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_camera/Camera_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_camera/Camera_link.STL" />
            </geometry>
        </collision>
    </link>

    <joint name="camera_mount" type="fixed">
        <origin xyz="0.00025711 0.090556 0.011732" rpy="0 0 0" />
        <parent link="ar4_camera_fixation" />
        <child link="ar4_camera_link" />
    </joint>

    <link name="ar4_camera_optical_link" />

    <joint name="ar4_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 -1.57079632679 -1.57079632679" />
        <parent link="ar4_camera_link" />
        <child link="ar4_camera_optical_link" />
    </joint>

    <gazebo reference="ar4_camera_optical_link">
        <sensor name="cameraAR4" type="camera">
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <visualize>true</visualize>
            <topic>/cameraAR4/image_raw</topic>
            <camera>
                <camera_info_topic>/cameraAR4/camera_info</camera_info_topic>
                <horizontal_fov>1.39626</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
            </camera>
            <gz_frame_id>ar4_camera_optical_link</gz_frame_id>
        </sensor>
    </gazebo>

    </xacro:macro>
</robot>