<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_arms">
  <gazebo>
  <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
    <parameters>$(find dual_arms)/config/dual_arms_controller.yaml</parameters>
  </plugin>
</gazebo>
  <!-- 🔹 General Args -->
  <xacro:arg name="tf_prefix" default="ar4_"/>
  <xacro:arg name="include_gripper" default="true"/>
  <xacro:arg name="ar_model" default="mk3"/>
  
  <!-- ABB IRB120 Args -->
  <xacro:arg name="bringup" default="false"/>
  <xacro:arg name="hmi" default="false"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="EE" default="false"/>
  <xacro:arg name="EE_name" default="none"/>

  <!-- AR4 Includes -->
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar.urdf.xacro"/>
  <!-- <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro"/> -->

  <!-- ABB IRB120 Includes -->
  <xacro:include filename="$(find ros2srrc_robots)/irb120/urdf/irb120_macro.urdf.xacro"/>
  
  <!-- Optional: HMI Camera -->
  <xacro:if value="$(arg hmi)">
    <xacro:include filename="$(find ros2srrc_hmi)/urdf/hmicamera.urdf.xacro"/>
  </xacro:if>




  <!-- AR4 Gripper
  <xacro:if value="$(arg include_gripper)">
    <xacro:ar_gripper
      tf_prefix="$(arg tf_prefix)"
      parent="$(arg tf_prefix)ee_link"/>
  </xacro:if> -->

  <!-- 🔹 ABB IRB120 Robot (shifted -0.5 in X) -->
<xacro:irb120 
    bringup="$(arg bringup)"
    robot_ip="$(arg robot_ip)"
    EE="$(arg EE)"
    EE_name="$(arg EE_name)"/>


  <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/> 
    <origin xyz="0.3325 0 1.1" rpy="0 0 0"/>
  </joint>


  <!-- Optional: HMI Camera -->
  <xacro:if value="$(arg hmi)">
    <xacro:HMI_camera 
      x="2.0"
      y="1.25"
      z="1.5"
      roll="0.0"
      pitch="0.35"
      yaw="-2.6"/>
  </xacro:if>

</robot>