<?xml version="1.0" ?>
<robot name="dual_arms_with_environment" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="bringup" default="false"/>
  <xacro:include filename="$(find assembly_environment)/urdf/environment.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro" />
  <!-- <xacro:include filename="$(find annin_ar4_description)/urdf/ar_camera_macro.xacro" /> -->
  
  <xacro:include filename="$(find dual_arms)/urdf/irb120_wrapper.xacro" /> 
  <xacro:include filename="$(find dual_arms)/urdf/dual_arms.gazebo.xacro" />
  <xacro:include filename="$(find abb_gripper_urdf)/urdf/abb_gripper_macro.xacro" />
  

  <link name="world"/>

  <xacro:environment/>
  <link name="aruco_target_frame"/>

  <joint name="world_to_aruco_target_frame_joint" type="fixed">
      <parent link="world"/>
      <child link="aruco_target_frame"/>
      <origin xyz="1.0 0.0 1.1" rpy="0.0 1.5708 0.0"/>
  </joint>
  <joint name="world_to_environment_joint" type="fixed">
    <parent link="world"/>
    <child link="abb_table"/>
    <origin xyz="0.3325 0 1.1" rpy="0 0 0"/>
  </joint>

  <xacro:ar_robot
    tf_prefix="ar4_"
    parent="ar4_table"
    robot_parameters_file="$(find annin_ar4_description)/config/mk3.yaml">
    <origin xyz="0 0 0" rpy="0 0 1.5708"/>
  </xacro:ar_robot>

  <xacro:ar_gripper
    tf_prefix="ar4_"
    parent="ar4_ee_link"/>
  
  <!-- <xacro:ar_camera
    tf_prefix="ar4_"
    parent="ar4_ee_link"/> -->
  
  <xacro:irb120_mounted parent="abb_table">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:irb120_mounted> 


  <xacro:abb_gripper arm_parent_link="tool0" gripper_prefix="gripper_"/>

  <gazebo reference="ar4_gripper_jaw1_link">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.001</minDepth>
    <maxVel>0.0</maxVel>
  </gazebo>
  <gazebo reference="ar4_gripper_jaw2_link">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.001</minDepth>
    <maxVel>0.0</maxVel>
  </gazebo>

  <gazebo reference="gripper_ABB_Gripper_Finger_1">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.001</minDepth>
    <maxVel>0.0</maxVel>
  </gazebo>
  <gazebo reference="gripper_ABB_Gripper_Finger_2">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.001</minDepth>
    <maxVel>0.0</maxVel>
  </gazebo>
<!--     
   <gazebo>
    <plugin filename="gz-sim-vacuum-gripper-system"
            name="gz::sim::systems::VacuumGripper">
        <link_name>ar4_gripper_jaw1_link</link_name> 
        <suction_enabled>false</suction_enabled> 
        <fixed>false</fixed> 
        <suction_on_topic>/ar4/gripper/lock_trigger</suction_on_topic>
        <contact_sensor_topic>/ar4/gripper/contact</contact_sensor_topic>
    </plugin>

    <plugin filename="gz-sim-vacuum-gripper-system"
            name="gz::sim::systems::VacuumGripper">
        <link_name>gripper_ABB_Gripper_Finger_1</link_name> 
        <suction_enabled>false</suction_enabled> 
        <fixed>false</fixed> 
        <suction_on_topic>/abb/gripper/lock_trigger</suction_on_topic>
        <contact_sensor_topic>/abb/gripper/contact</contact_sensor_topic>
    </plugin>
  </gazebo> -->
  
</robot>