<?xml version="1.0" ?>
<robot name="dual_arms_with_environment" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="CONFIG" default="ABB"/>

  <xacro:include filename="$(find assembly_environment)/urdf/environment_hardware.xacro" />  
  <link name="world"/>

  <xacro:environment/>
  <joint name="world_to_environment_joint" type="fixed">
    <parent link="world"/>
    <child link="abb_table"/>
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
  </joint>


  <xacro:include filename="$(find dual_arms)/urdf/irb120_wrapper.xacro" />
  <!-- <xacro:include filename="$(find abb_gripper_urdf)/urdf/abb_gripper_macro.xacro" /> -->

  <xacro:irb120_mounted parent="abb_table">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:irb120_mounted>

  <!-- <xacro:abb_gripper arm_parent_link="tool0" gripper_prefix="gripper_"/> -->


<!-- <xacro:if value="${xacro.arg('CONFIG') != 'ABB'}"> -->

  <xacro:include filename="$(find dual_arms)/urdf/ar4_wrapper.xacro" />

  <xacro:ar_robot
    tf_prefix="ar4_"
    parent="ar4_table"
    robot_parameters_file="$(find annin_ar4_description)/config/mk3.yaml">
    <origin xyz="0 0 0" rpy="0 0 1.5708"/>
  </xacro:ar_robot>

  <!-- <xacro:ar_gripper
    tf_prefix="ar4_"
    parent="ar4_ee_link"/> -->

<!-- </xacro:if> -->


  
</robot>