<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="stand" params="parent_link">
    <link
    name="stand_base_link">
    <inertial>
      <origin
        xyz="-0.13523 0.63251 -0.37097"
        rpy="0 0 0" />
      <mass
        value="6.459" />
      <inertia
        ixx="0.52484"
        ixy="0.017538"
        ixz="0.029983"
        iyy="0.43177"
        iyz="-0.0085071"
        izz="0.2969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/marwan/full_system/src/dual_arms/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/marwan/full_system/src/dual_arms/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="world_stand_link" type="fixed">
    <origin xyz="-0.18 -0.4 0.0" rpy="0 0 0"/>
    <parent link="${parent_link}"/>
    <child link="stand_base_link"/>
  </joint>
  
  </xacro:macro>
</robot>
