<?xml version="1.0"?>

<model>
  <name>I_brick</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mohamed Alaa</name>
    <email>mohammed.alaa200080@gmail.com</email>
  </author>

  <description>
    I brick model for bricks assembly
  </description>
</model> 
